/* *{
    margin: 0;
    padding: 0;
} */


body{
    text-align: center;
    background-Color: #9C27B0
    

    /* background-color: black;  */
    /* background-image: ; */
    /* color: rgb(128, 0, 70); */
     /* background-image: url(BM.jpg);  */
     /* background-size: cover; */
}
h1{
    color: whitesmoke;
    font-size: 50px;
    
}
H2{
    /* color:rgb(0, 38, 255); */
    color: whitesmoke;
}
.title {
    font-size:40px;
    align-items: center;
    /* color: rgb(32, 11, 12); */
    text-align:center;
}
.container{
    display:flex;
    flex-wrap: wrap;
    width: 330px;
    margin: auto;
    border-color: rgb(249, 35, 35);
    /* width: 325px; */
    /* background-color: yellow; */

}
.box{
    border-radius: 15px;
    width: 100px;
    height: 100px;
    background-color: rgb(241, 174, 28);
    margin: 2px;
    /* float: right; */
    /* background-color: yellow; */
    font-size: 100px;
    

}
.score{
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}
.btn{
    color: #9C27B0;
    border-radius: 15px;
    
    /* font-size: larger; */
    margin-top: 10px;
    
}
.btn:hover{
    background-color:dodgerblue;
}









